p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

.resume-link:hover {
    text-decoration: underline;
}

.hr-nav {
    opacity: 0.1;
    margin-top: 0px;
    margin-bottom: 0px;
}

.social-container {
    border-radius: 50%;
    background-color: lightgrey;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: black;
}

.social-container:hover {
background-color: black;  
}


.social-container:hover .social-icon {
    color: white;
}

.headline-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.about-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}	